body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    h1 {
        align-content: center;
    }
}

main {
    display: flex;
    flex: 1;
    article {
        display: flex;
        flex-direction: column;
        flex: 2;
    }
    aside {
        display: flex;
        flex: 1;
    }
}

footer {
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-content: center;
    flex: .2;
}