$red: red;
$blue: blue;
$white: white;

html {
    height: 100%;
}

body {
    background-color: #aeaeae;
    height: 100%;
}

header {
    background-color: $blue;
    color: $white;
    font-size: 50px;
    
}

main {
    article {
        background-color: $red;
        padding: 10px;
        p {
            font-size: 20px;
        }
    }
    aside {
        background-color: $white;
    }
    li {
        list-style: none;
        color: $blue;
    }
    
}

footer {
    background-color: black;
    color: $white;
}
    

