body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header h1 {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
main aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer {
  font-size: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: .2;
  -webkit-flex: .2;
  -ms-flex: .2;
  flex: .2;
}

html {
  height: 100%;
}

body {
  background-color: #aeaeae;
  height: 100%;
}

header {
  background-color: blue;
  color: white;
  font-size: 50px;
}

main article {
  background-color: red;
  padding: 10px;
}
main article p {
  font-size: 20px;
}
main aside {
  background-color: white;
}
main li {
  list-style: none;
  color: blue;
}

footer {
  background-color: black;
  color: white;
}

h1, p {
  color: gray;
  line-height: 3;
  font-weight: 300;
}

ul {
  font-size: 60px;
}
