html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
}
    

#hero {
    background-color: orange;
    text-align: center;
    flex: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

article {
    background-color: red;
    flex: 2;
}

aside {
    text-align: center;
    background-color: blue;
    flex: 2;
}

.promo {
    display: flex;
    background-color: purple;
    flex: 1;
}

.promo ul {
    display: flex;
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0;
}

.promo ul li {
        display: flex;
        flex-direction: row;
        flex:1;
        
}

footer {
    background-color: gray;
    text-color: white;
    flex: .5;
}

@media (max-width: 480px) {   
    body {
        background-color: yellow;
    }
    article {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .promo ul li {
        width: 100%;
    }
    footer {
        width: 100%;
    }